@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

:root{
    --preto-degrade: #0f0f0f8f ;
    --preto: #0f0f0f;
    --verdeescuro: #385359;
    --verdeclaro: #728A8C;
    --cinza: #CCCCD9;
    --branco: #f2f2f2;
    --topicos: "BBH Sans Bogle" ;
    --texto: "Open Sans" ;
}
html{
    scroll-behavior: smooth;
}
main{
    background-color: var(--preto);
}
header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background:var(--preto);
    color: var(--branco);
    align-items: center;
    padding: 10px 0px;
    font: 400 1rem var(--topicos);
    position: relative;
}
#navlist {
    display: flex;
    justify-content: center; 

}
.navlistitem{
    margin: 1vh 3vh;
    list-style-type: none;
}

#navlist a{
    color: var(--branco);
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
#navlist a:hover{
    margin: 0px 10px;
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 2px;
    
}
#hr{
    width: 100%;
    color: var(--branco);
    box-shadow: 2px 2px 5px var(--preto);
}

.bg{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    background-image: linear-gradient(to bottom, var(--preto-degrade) , var(--preto)),  url('../assets/bg.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    ;
}
#landingpage{
    width: 70%;
    margin: auto;
    display: flex;
}
.nome{
    pointer-events: none;
    font: 400 150px var(--topicos);
    margin: 0rem 10rem 0rem 1rem ;
    color: var(--branco);
    text-shadow: 4px 4px 19px var(--preto);
}
#aboutme{
    margin: 100px 0px 0px 20px;
}
#aboutme p{
    pointer-events: none;
    padding: 0px 0px  20px 0px;
    font: 400 20px var(--texto);
    margin: 0rem 10rem 0rem 0.5rem ;
    color: var(--branco);
    text-shadow: 6px 6px 10px var(--preto);
}
.linh{
    margin: 40px 0px;
    width: 100%;
    border: solid 0.3rem var(--branco);
    box-shadow: 1px 1px 10px var(--preto);
}
#hrbtcontain{
    width: 60%;
}
#socialmidiascontainer{
    justify-content: space-between;
    padding: 10px ;
    background-color: #00000070;
    box-shadow: 1px 1px 5px var(--preto);
}
.socialmidias:link{
    text-decoration: none;
    justify-content: space-around;
}
.socialmidias{
    width: 100%;
    display: inline-flex;
    cursor: pointer;
}
#githublinkedinbutton{
    display: flex;
    margin-bottom: 10px ;
}
#githubbutton{
    margin-right: 0.5rem;
}
#linkedinbutton{
    margin-left: 0.5rem;
}
.socialmediasbutton{
    width: 100%;
    font: 400 16px arial;
    padding: 10px;
    color: var(--branco);
    background-color: var(--preto);
    border: solid 1px var(--preto);
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.socialmediasbutton:hover{
    color: #000;
    background-color: var(--branco) ;
}
#chibiimage{
    margin: 0px 10px ;
    box-shadow: 1px 5px 10px #0000009c;
    background-color : var(--cinza);
    border-radius: 100%;
}
#chibiimage img{
    display: none;
    width: 400px;
}
#myprojects{
    margin-top: 200px;
    padding: 10px 0px 150px 0px;
    background-color: var(--preto);
    height: fit-content;
}
#myprojects > h1 {
    text-align: center;
    font: 400 40px var(--topicos);
    color: var(--branco);
}
#myprojects > h2{
    padding: 20px;
    text-align: center;
    font: 400 20px var(--texto);
    color: var(--branco);
}
#projetoscontainer{
    display: flex;
    margin: auto;
    width: 80%;
}
.projetos{
    width: 80%;
    background-color: var(--verdeclaro);
    padding: 20px;
    margin: 20px;
    transition: all 0.8s ease;
    cursor: none;
    height: fit-content;
}

.projetos:hover{
    background-color: var(--verdeescuro);
    width: 100%;
    transform: scale(1.16)   
}
.projetostittle{
    margin: 5px 0px;
    font: 400 20px var(--topicos);
    color: var(--preto);
}
.projetosdesc{
    font: 300 16px var(--texto);
    color: var(--branco);
    
}
.projetosimage{
    filter: drop-shadow( 1px 1px 3px var(--preto-degrade) );
    border-radius: 2px;
    width: 100%;
}
#about{
    background-color: var(--branco);
    border: solid var(--verdeescuro);
    border-right: 4px;
    border-left: 4px;
    
}
#aboutcontainer{
    display: flex;
    width: 80%;
    margin:  auto;
    padding: 5vh 20px 0px 20px;
}
#quemsou{
    width: 50%;
    margin: auto;
}
#quemsou > h1{
    font: 400 60px var(--topicos);
    color: var(--preto);
}

#quemsou h2{
    font: 400 35px var(--topicos);
    color: var(--preto);
    margin: 0px 10px;
}
#quemsou p{
    font: 400 1em var(--texto);
    margin: 0px 10px 0px 10px;
}
#fotopessoalcontainer{

    display: flex;
    margin: auto;
    align-items: center;
    background-color: var(--verdeclaro);
    border-radius: 50%;
    height: cover;
    
    
}
#fotopessoal{
    height: cover;
    width: 100%;
}

@media screen and  (max-width: 1000px){
    header{
        font-size: 0.8em;
    }
    .navlistitem{
        margin: 1vh 0.8em;
    }
    #landingpage{
        display: flex;
        width: 100%;
        margin: 0px auto;
    }
    .nome{
        font-size: 8em;
    }
    #about p{
        padding: 0px;
        font-size: 1em;
    }
    .socialmediasbutton{
        padding: 10px 8px;
        font-size: 0.7em;
    }

    #projetoscontainer{
        display: inline;
    }
    .projetos{
        width: 50%;
        justify-content: center;
        margin: 20px auto;
    }
    .projetos:hover{
        background-color: var(--verdeescuro);
        width: 70%;
        transform: scale(1.02)   
    }
    .projetostittle{
        margin: 5px 0px;
        font: 400 16px var(--topicos);
        color: var(--preto);
    }
    .projetosdesc{
        font: 300 13px var(--texto);
        color: var(--branco);
        
    }
    #aboutcontainer{
        background-color: var(--branco);
        display: grid;
        width: 80%;
        margin: auto;
        padding: 10vh 0px;
    }
    #fotopessoalcontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    #quemsou{
        width: 100%;
        margin-bottom: 40px;
    }
    #quemsou > h1{
        font: 400 60px var(--topicos);
        color: var(--preto);
    }
    #quemsou h2{
        font: 400 35px var(--topicos);
        color: var(--preto);
        margin: 0px 10px;
    }
    #quemsou p{
        font: 400 14px var(--texto);
        margin: 0px 0% 0px 10px;
    }
}
