@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

:root{
    --preto-degrade: #0f0f0f65 ;
    --preto: #0f0f0f;
    --verdeescuro: #385359;
    --verdeclaro: #728A8C;
    --cinza: #CCCCD9;
    --branco: #f2f2f2;
    --branco-degrade: #f2f2f291;
    --topicos: "BBH Sans Bogle" , Arial, Helvetica, sans-serif ;
    --texto: "Open Sans" , Arial, Helvetica, sans-serif ;
}
.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: var(--verdeescuro);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}
canvas{ 
  display: block;
}
#particles-container{ 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 100% 100%;
  z-index: -1;
  pointer-events: auto;
}
html{
    cursor: none;
    scroll-behavior: smooth;
}
h1 , p , h2{
    pointer-events: none;
}

main{
    background-color: var(--preto);
    color: var(--branco);
    position: relative;
    pointer-events: none;
    z-index: 1;
    padding-bottom:30px ;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background:var(--preto);
    color: var(--branco);
    padding: 10px 0px;
    font: 400 1rem var(--topicos);
    position: relative;
}
#menu{
    color: var(--preto);
    display: none;
}
#menucontainer{
    display: flex;
    margin: auto 0px;
}
#light-mode-button{
    display: flex;
    margin-left: 10%;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.4s ease;
    padding: 2px;
    display: flex;
    height: fit-content;
}
nav{
    display: flex;
    align-items: center;
    align-self: center;
}
#light-mode-buttonimg{
    width: 30px;
    height: auto;
}
#light-mode-button:hover{
    cursor: pointer;
}
#navlistfloating{
    display: none;
    pointer-events: all;   
}
#navlistfloating a{
    text-decoration: none; 
    color: var(--branco); 
}
#navlist {
    display: flex;
    margin: auto;
}   
.navlistitem{
    margin: 1vh 3vh;
    list-style-type: none;
}
.navlistfloatingitem{
    margin: 1vh 3vh;
    list-style-type: none;
}
#navlist a{
    color: var(--branco);
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
#navlist a:hover{
    margin: 0px 10px;
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 2px;
    cursor: none;
}

#hr{
    color: var(--branco);
    box-shadow: 2px 2px 5px var(--preto);
}

.bg{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom, var(--preto-degrade) , var(--preto)),  url('../assets/bg.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px #0000007e;
    cursor: default;
}
#landingpage{
    display: flex;
    width: 100%;
}
.nome{
    pointer-events: none;
    font: 400 150px var(--topicos);
    margin: 0rem 10rem 0rem 1rem ;
    color: var(--branco);
    text-shadow: 4px 4px 19px var(--preto);
}
#aboutme{
    margin: auto 15%;
    width: fit-content;
}
#aboutme p{
    pointer-events: none;
    padding: 0px 0px  20px 0px;
    font: 400 20px var(--texto);
    color: var(--branco);
    text-shadow: 6px 6px 10px var(--preto);
}
.linh{
    margin: 40px 0px;
    width: 100%;
    border: solid 0.3rem var(--branco);
    box-shadow: 1px 1px 10px var(--preto);
}
#hrbtcontain{
    width: 60%;
}
#socialmidiascontainer{
    width: 100%;
    padding: 10px ;
    background: var(--preto-degrade);
    backdrop-filter: blur(6px);
    box-shadow: 1px 1px 5px var(--preto);
    pointer-events: all;
}
.socialmidias:link{
    text-decoration: none;
    justify-content: space-around;
}
.socialmidias{
    display: flex;
    width: 100%;
    cursor: pointer;
    margin: auto;
}
#externallinkbutton{
    display: flex;
    margin-bottom: 10px ;
}
#githubbutton{
    margin-right: 0.5rem;
}
#linkedinbutton{
    margin-left: 0.5rem;
}
.socialmediasbutton{
    width: 100%;
    font: 400 16px arial;
    padding: 10px;
    color: var(--branco);
    background-color: var(--preto);
    border: solid 1px var(--preto);
    box-shadow: 1px 1px 5px var(--preto-degrade);
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.socialmediasbutton:hover{
    color: #000;
    background-color: var(--branco) ;
}
#myprojects{
    margin-top: 200px;
    padding: 10px 0px 100px 0px;
    height: fit-content;
    color: var(--branco);
}
#myprojects > h1 {
    text-align: center;
    font: 400 40px var(--topicos);
}
#myprojects > h2{
    padding: 20px;
    text-align: center;
    font: 400 20px var(--texto); 
}
#projetoscontainer{
    display: flex;
    margin: auto;
    width: 80%;
}
.projetos{
    width: 80%;
    background-color: var(--branco);
    pointer-events: all;
    padding: 20px;
    margin: 20px;
    transition: all 0.6s ease;
    cursor: none;
    height: fit-content;
    z-index: 2;
}

.projetos:hover{
    background-color: var(--verdeescuro);
    transform: scale(1.1);
}
.projetostittle{
    margin: 5px 0px;
    color: var(--preto);
    font: 400 20px var(--topicos);
}
.projetosdesc{
    font: 300 16px var(--texto);
}
.projetosimage{
    filter: drop-shadow( 1px 1px 3px var(--preto-degrade) );
    border-radius: 2px;
    width: 100%;
}
#about{
    background-color: var(--branco);
    border: solid var(--verdeclaro);
    border-right: 4px;
    border-left: 4px;
    align-items: center;
    box-shadow: 1px 1px 5px #0000007e;
    pointer-events: all;
    cursor: auto;
}
#aboutcontainer{
    display: flex;
    margin:  auto;
    width: 80%;
    padding: 5vh 20px 0px 20px;
}
#quemsou{
    color: var(--preto);
    display: inline;
    width: 50%;
    margin: auto ;
}
#quemsou > h1{
    font: 400 60px var(--topicos);
}

#quemsou h2{
    font: 400 35px var(--topicos);
    margin: 0px 10px;
}
#quemsou p{
    font: 400 1em var(--texto);
    margin: 0px 10px 10px 10px;
}

#contactbuttonaboutmelink{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#contactbuttonabout{
    width: 100%;
    font: 400 16px arial;
    padding: 10px;
    color: var(--branco);
    background-color: var(--preto);
    border: solid 1px var(--preto);
    box-shadow: 1px 1px 5px var(--preto-degrade);
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    pointer-events: all;
    justify-content: center;
    
}
#contactbuttonabout:hover{
    color: #000;
    background-color: var(--branco) ;
}
#fotopessoalcontainer{
    display: flex;
    margin: auto;
    align-items: center;
    background-color: var(--verdeclaro);
    border-radius: 50%;
}
#fotopessoal{
    pointer-events: none;
    height: 100%;
    width: 100%;
}
#skills{
    padding: 100px 0px;
    
}
#skillsbox > h1{
    text-align: center;
    font: 400 50px var(--topicos);
    padding: 0px;
}

#skillsbox{
    margin: 0px auto;
    color: var(--branco);
    width: fit-content;
    padding: 20px;
}
#skillscontainer{
    width: fit-content;
    display: flex;
    padding: 10px 15px;
    margin: auto;
    height: fit-content;
}
.myskills{
    background-color: var(--branco-degrade);
    text-align: center;
    margin: 10px;
    width: 95px;
    height: fit-content;
    font: 400 11px var(--topicos);
    transition: all 0.5s ease;
    box-shadow: 2px 2px 5px var(--preto-degrade);
    pointer-events: all;
    padding: 10px;
}
.myskills img{
    margin: auto;
    display: flex;
    width: 80%;
}
.myskills:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 8px var(--preto-degrade);
}
#porcentagem{
    display: flex;
    width: 100%;
    margin: auto;
}
#skillsporcentagem{
    font: 400 10px var(--topicos);
    margin: auto;
    width: 100%;
    align-items: center;
    text-align: justify;
}
.porcentagembar{
    border-radius: 10px;
    font: 400 0.8em var(--texto);
    text-indent: 10px;
    display: flex;
    margin: auto;
    background-color: var(--preto-degrade);
    width: 100%;
    margin: 10px 0px ;
}
#porcentagembar-html{
    padding-right: 1%   ;
    width: 90%;
    border-radius: 35px;
    background-color: var(--verdeclaro);
    text-align: end;
}
#porcentagembar-css{
    padding-right: 1%   ;
    width: 75%;
    border-radius: 35px;
    background-color: var(--verdeclaro);
    text-align: end;
}#porcentagembar-javascript{
    padding-right: 1%   ;
    width: 60%;
    border-radius: 35px;
    background-color: var(--verdeclaro);
    text-align: end;
}
#contact{
    margin: 100px 0px;
    display: flex;
}
#mapslocalizacao{
    display: flex;
    margin: auto;
}
#mapscontainer h1{
    padding: 5px 0px;
}
#mapscontainer{
    background-color: var(--branco);
    text-align: center;
    color: var(--preto);
    font: 400 20px var(--topicos);
    margin: auto;
    width: 30%;
    border: solid 4px var(--verdeclaro);
    border-radius: 5px;
    pointer-events: all;
}
iframe{
    width: 100%;
}
#formulariodecontato{
    background-color: var(--branco) ;
    color: var(--preto);
    margin: 0px auto;
    width:  30%;
    padding: 20px;
    border: solid 4px var(--verdeclaro);
    border-radius: 5px;
    pointer-events: all;
}
#formulariodecontato h1{
        font: 400 40px var(--topicos);
}
#formulariodecontato h2{
        font: 400 16px var(--texto);
}
input{
    font: 400 12px var(--texto);
    padding: 5px;
    margin: 0px 0px;
    width: 100%;
    display: flex;
    border: solid 1px var(--preto);
    text-indent: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px var(--preto-degrade);
}
input:focus, textarea:focus{
    outline: none;
    border: solid 2px var(--verdeescuro);
    box-shadow: 2px 2px 5px var(--preto-degrade);
}
input:hover, textarea:hover{
    outline: none;
    border: solid 2px var(--verdeescuro);
    box-shadow: 2px 2px 5px var(--preto-degrade);
}
textarea{
    font: 400 12px var(--texto);
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-indent: 5px;
    padding: 5px;
    border: solid 1px var(--preto);
    resize: vertical;
    box-shadow: 2px 2px 2px var(--preto-degrade);
    min-height: 6rem;
 
}
#contactformbutton{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px;
    border: solid 1px var(--preto);
    color: var(--branco);
    background-color: var(--preto);
    transition: all 0.5s ease;
    cursor: pointer;
}
#contactformbutton:hover{
    color: var(--preto);
    background-color: var(--branco);
}
.formulario-preencher{
    font: 300 14px var(--texto);
    margin: 10px 5px;
}
footer{
    background-color: var(--branco);
    color: var(--preto);
    font: 600 7px var(--texto);
    text-align: center;
    padding: 10px;
    z-index: 2;
}

@media screen and  (max-width: 1000px){
    html{
        cursor: auto;
    }
    .circle{
        display: none;
    }
    header{
        font-size: 0.8em;
        justify-content: space-around;
    }
    .circle{
        display: none;
    }
    #menu{
        display: flex;
        height: auto;
    }
    #navlistfloating{
        display: none;
        flex-direction: column;
        font: 400 16px var(--topicos);
        background: transparent;
        backdrop-filter: blur(4px) ;
        height: fit-content;
        margin: 20px 10px;
        box-shadow: 0px 0px 10px var(--preto);
        border-radius: 8px;
        width: 200px;
        transition: all 1s ease-in;
        z-index: 3;
        position: absolute;
        padding: 5px;
    }
    #navlistfloating a{
        background-color: var(--preto);
        margin: 4px;
        height: fit-content;
        border-radius: 2px;
        box-shadow: 1px 1px 5px var(--preto);
    }
    #navlist{   
        width: fit-content;
        height: fit-content;
        margin: 25px;
        display: none;
    }
    .navlistitem{
        margin: 1vh 0.8em;
    }
    #light-mode-button{
        display: flex;
        margin: auto 0px;
    }
    .bg{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    #landingpage{
        width: 100%;
    }
    #aboutme{
        width: 100%;
        margin-top: 10%;
    }
    .nome{
        margin: 0px;
        padding: 0px;
        font-size: 5.8em;
    }
    #aboutme p{
        padding: 0px;
        font-size: 0.7em;
    }
    #socialmidiascontainer{
        width: 100%;
    }
    .socialmediasbutton{
        padding: 10px 8px;
        font-size: 0.7em;
    }
    #myprojects{
        margin-top: 0px;
    }
    #projetoscontainer{
        display: inline;
    }
    .projetos{
        width: 50%;
        justify-content: center;
        margin: 20px auto;
    }
    .projetos:hover{
        background-color: var(--verdeescuro);
        width: 70%;
        transform: scale(1.02)   
    }
    .projetostittle{
        margin: 5px 0px;
        font: 400 16px var(--topicos);
        color: var(--preto);
    }
    .projetosdesc{
        font: 300 13px var(--texto);
        color: var(--branco);
        
    }
    #aboutcontainer{
        display: grid;
        width: 80%;
        margin: auto;
        padding: 10vh 0px;
    }
    #fotopessoalcontainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
    #quemsou{
        width: 100%;
        margin-bottom: 40px;
    }
    #quemsou > h1{
        font: 400 60px var(--topicos);
    }
    #quemsou h2{
        font: 400 35px var(--topicos);
        margin: 0px 10px;
    }
    #quemsou p{
        font: 400 14px var(--texto);
        margin: 0px 0% 0px 10px;
    }
    #skillsbox > h1{
        width: 100%;
        text-align: center;
        font: 400 1.5em var(--topicos);
    }
    
    #skillscontainer{
        margin: auto;
    }
    .myskills{
        margin: 5px;
        padding: 5px;
        width: 40px;
        font: 400 0em var(--topicos); 
    }
    #porcentagem{
        width: 100%;
    }
    .porcentagembar{
        width: 100%;
        font: 400 7px var(--texto);
        text-align: justify;
    }
    #mapscontainer{
        width: 90%;
        height: fit-content;
        font-size: 15px;
        margin: 50px auto;
    }
    iframe{
        height: 200px;
    }
    #contact{
        display: inline;
    }
    #formulariodecontato{
        margin: 20px auto;
        width: 80%;
    }
    #formulariodecontato h1{
        font: 400 20px var(--topicos);
    }
    #formulariodecontato h2{
        font: 400 14px var(--texto);
    }
    .formulario-preencher{
        font-size: 11px;
    }
    footer{
        font-size: 5px;
        padding: 8px    ;
    }
}